* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    
    /* Fundo de Halteres Clássico e Paralaxe fixo */
    background-image: var(--bg-pattern);
    background-attachment: fixed;
    background-position: center;
    
    color: var(--text-color);
    transition: var(--transition);
    line-height: 1.6;
}

img {
    max-width: 100%;
    border-radius: var(--border-radius);
}

.section {
    padding: 100px 10%;
}

.bg-alt {
    background-color: var(--bg-alt);
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2 {
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.section-header h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
}